.c1{
	height: 100px;
	background-color: red;
}
.c2{
	height: 100px;
	background-color: orange;
}
.c3{
	height: 100px;
	background-color: yellow;
}
.c4{
	height: 100px;
	background-color: darkgreen;
}
.c5{
	height: 100px;
	background-color: green;
}
.c6{
	height: 100px;
	background-color: lightgreen;
}
.c7{
	height: 100px;
	background-color: yellow;
}
.c8{
	height: 100px;
	background-color: orange;
}
.c9{
	height: 100px;
	background-color: red;
}
.c10{
	height: 100px;
	background-color: lightgreen;
}